<h1>Listing articles</h1>
<p>Total: <%= @stats["count_list"] %><p>
<p># Read: <%= @stats["count_read"] %><p>
<p># Unread: <%= @stats["count_unread"] %><p>
<ol>
<% @articles.each do |article| %>
	<li>Title: <%= link_to article.title, article.url %> --- 
		Status: <% if article.state == "1" %>
					Read
				<% else %>
					Unread
				<% end %></li>
<% end %>
</ol>
